#section-2{
    text-align: center;
    .div22{
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;   
    }
    #divsec2-1{
        margin-right: 20%;
        margin-left: 20%;
    }
    #divsec2-2{
        margin-right: 20%;
        margin-left: 20%;
    }
}