#section-1{
        display: flex;
        align-items: center;
        flex-direction: column;
    #div-une{
        text-align: center;
        h1{
            font-size: 450%;
        }
    }
    #div-deux{
        display: flex;
        align-items: center;
        text-align: center;
        width:75%;
       i{
        font-size: 500%;
       } 
    }
}